@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root
{
    --cor-azul-forte: #043873;
    --cor-branca: #DBDBDB;
}
body
{
    width: 100%;
}
.pp
    {
        height: 522px;
        background-color: var(--cor-azul-forte);
    }

@media (min-width: 320px) and (max-width:480px) 
{
    header
    {
        height: 56px;
        background-color: var(--cor-azul-forte);
    }

    footer
    {
        height: 210px;
        background-color: var(--cor-azul-forte);
    }

    .pp
    {
        height: 522px;
        background-color: var(--cor-azul-forte);
    }

    .sp
    {
        height: 817px;
        background-color: var(--cor-branca);
    }
}

@media (min-width: 481px) and (max-width: 768px)
{
    
}

@media (min-width: 769px) and (max-width: 1920px)
{
    
}