@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root
{
    --cor-azul-forte: #043873;
    --cor-bege: #DBDBDB;
    --cor-branca: #ffffff;
}
body
{
    width: 100%;
}


@media (min-width: 320px) and (max-width:480px) 
{
    header
    {
        height: 56px;
        background-color: var(--cor-azul-forte);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo
    {
        margin: 16px;
        width: 26px;
        height: 20px;
    }
    
    .header__menu
    {
        margin: 16px;
        width: 42px;
        height: 24px;
    }


    .header__texto
    {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 19.644px;
        line-height: 24px;
        color: var(--cor-branca);
    }

    .header__texto_alinhamento
    {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    footer
    {
        height: 210px;
        background-color: var(--cor-azul-forte);
    }

    .pp
    {
        height: 522px;
        background-color: var(--cor-azul-forte);
        background-image: url(../img/background_mobile.png);
    }
    #pp_fundo
    {
        
        
    }

    .sp
    {
        height: 817px;
        background-color: var(--cor-bege);
    }
}

@media (min-width: 481px) and (max-width: 768px)
{
    
}

@media (min-width: 769px) and (max-width: 1920px)
{
    
}